@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --blue:#3498db;
   --dark-blue:#2980b9;
   --red:#004b76;
   --dark-red:#c0392b;
   --black:#333;
   --white:#fff;
   --light-bg:#eee;
   --box-shadow:0 5px 10px rgba(0,0,0,.1);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

*::-webkit-scrollbar{
   width: 10px;
}

*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-thumb{
   background-color: var(--blue);
}

.btn{
   width: 100%;
   border-radius: 5px;
   padding:7px 20px;
   color:var(--white);
   display: block;
   text-align: center;
   cursor: pointer;
   font-size: 15px;
   margin-top: 10px;
   background-color: var(--blue);
}
.btn:hover{
   background-color: var(--dark-blue);
}

.form-container{
   min-height: 100vh;
   background-image: url(../images/Backgrounds/bgLoginRegister.jpeg);
   /* background: linear-gradient(230deg,rgb(0, 0, 40), rgb(68, 153, 186), rgb(95, 215, 255)); */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding:20px;

}
.form-container form{
   padding:20px;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   text-align: center;
   width: 380px;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
}

.form-container form h3{
   margin-bottom: 10px;
   font-size: 30px;
   color:var(--black);
   text-transform: uppercase;
}

.form-container form .box{
   width: 100%;
   border-radius: 5px;
   padding:7px 14px;
   font-size: 15px;
   color:var(--black);
   margin:10px 0;
   background-color: var(--light-bg);
}
#country{
   width: 47%;
   float: left;
}
#municipality{
   width: 47%;
   float: right;
}

.form-container form p{
   margin-top: 15px;
   font-size: 15px;
   color:var(--black);
}


.form-container form p a:hover{
   text-decoration: underline;
}


@media (max-width:650px){
   .update-profile form .flex{
      flex-wrap: wrap;
      gap:0;
   }
   .update-profile form .flex .inputBox{
      width: 100%;
   }
}

#_gender{
   margin-left: 10px;
}
.gend{
   color: gray
}



/* for login */
#divOption{
   margin-top: 10px;
}
#divOption a{
   cursor: pointer;
}

#divOption .options{
   /* padding: 10px 30px; */
   width: 100px;
   height: 40px;
   border-radius: 50px;
   border: none;
   background-color: white;
   color: black;
   box-shadow: 0 0 10px rgb(32, 32, 32);
   cursor: pointer;

}
#user{
   margin-right: 10px;
}
#customer{
   background-color:rgb(0, 78, 195); 
   color: white;
}
#forgot{
   font-size: 10pt;
}
/* #input-file{
   display: none;
} */
#addprofile{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   background-image: url(../images/default-avatar.png);
   display: flex;
   align-items: center;
   justify-content: center;
   align-self: center;  
   justify-self: center;
   margin-top: 10px;
   cursor: pointer;
   transition: all .6s ease;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
#addprofile:hover{
   background-color: rgb(176, 175, 175);
}
#addprofile #profile-pic{
   width: 100px;
   height: 100px;
   border-radius: 50%;
}
#label{
   position: absolute;
   font-size: 10pt;
   color: gray;
   cursor: pointer;
   background-color: #3498db ;
   padding: 5px 10px;
}
